{%  extends 'base/index.html' %}
{% load static %}

{% block title %}Add Borrowing{% endblock %}

{% block css_src %}
    {% if user.is_authenticated %}
        {% if level == 2 or level == 3 %}
            <link rel="stylesheet" href="{% static 'base/styles/employee.css' %}">
        {% elif level == 1 %}
            <link rel="stylesheet" href="{% static 'base/styles/distributor.css' %}">
        {% endif %}
    {% endif %}
{% endblock %}

{% block navigation %}
    {% include 'includes/navbar_wrapper.html' with selected='borrowings' level=level %}
{% endblock %}

{% block content_header %}Add Borrowing{% endblock %}

{% block main_body %}
    <h3>Add Book</h3>
    <form method="post" action="">
        {%  csrf_token %}
        <ul>
            {% for field in borrowing_form %}
                <li class="{% if field.field.required %}required{% endif %}">
                    <span>{{ field.label }}: </span><span>{{ field }}</span>
                </li>
            {% endfor %}
        </ul>
        <button name="action" value="add">Add</button>
    </form>
    {% for error in borrowing_form.errors.values %}
        <li><span class="err-msg">{{ error }}</span></li>
    {% endfor %}
    {% for message in messages %}
        <p class="err-msg">{{ message }}</p>
    {% endfor %}
    <p class="err-msg">Do not leave this page without finishing or canceling your borrowing!</p>
    <form class="form-no-border" method="POST" action="">
        {%  csrf_token %}
        <button name="action" value="finish">Finish</button>
        <button name="action" value="cancel">Cancel</button>
    </form>

    {% if borrowing_detail is not None %}
        <h3>Details</h3>
        <table>
            <tr>
                <th class="line-th">User</th>
                <td>{{ borrowing_detail.profile.name }}</td>
            </tr>
            <tr>
                <th class="line-th">To return</th>
                <td>{{ borrowing_detail.borrowed_to|date:"d.m.Y" }}</td>
            </tr>
        </table>

        {% if borrowing_detail.books %}
            <h3>Added books</h3>
            <table>
                {% for book in borrowing_detail.books.all %}
                    <tr>
                        {% include 'includes/book_list_item.html' with id=book.id title_name=book.title_in_library.title.name library_name=book.title_in_library.library.name %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}

{% endblock %}