{%  extends 'base/index.html' %}
{% load static %}

{% block title %}New employee{% endblock %}

{% block css_src %}
    {% if user.is_authenticated %}
        {% if level == 2 or level == 3 %}
            <link rel="stylesheet" href="{% static 'base/styles/employee.css' %}">
        {% elif level == 1 %}
            <link rel="stylesheet" href="{% static 'base/styles/distributor.css' %}">
        {% endif %}
    {% endif %}
{% endblock %}

{% block navigation %}
    {% include 'includes/navbar_wrapper.html' with selected='employees' level=level %}
{% endblock %}

{% block content_header %}New employee{% endblock %}

{% block main_body %}
    <form method="POST" action="">
        {%  csrf_token %}
        <ul>
            {% for field in employee_form %}
                <li class="{% if field.field.required %}required{% endif %}">
                    <span>{{ field.label }}: </span><span>{{ field }}</span>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="OK">
    </form>
    {% for error in employee_form.errors.values %}
        <li><span class="err-msg">{{ error }}</span></li>
    {% endfor %}
    {% for message in messages %}
        <p class="err-msg">{{ message }}</p>
    {% endfor %}
{% endblock %}