{%  extends 'base/index.html' %}
{% load static %}

{% block title %}Orders{% endblock %}

{% block css_src %}
    {% if user.is_authenticated %}
        {% if level == 2 or level == 3 %}
            <link rel="stylesheet" href="{% static 'base/styles/employee.css' %}">
        {% elif level == 1 %}
            <link rel="stylesheet" href="{% static 'base/styles/distributor.css' %}">
        {% endif %}
    {% endif %}
{% endblock %}

{% block navigation %}
    {% include 'includes/navbar_wrapper.html' with selected='orders' level=level %}
{% endblock %}

{% block content_header %}Orders{% endblock %}

{% block btn_new %}
    {% if level == 2 or level == 3 %}
        <a id="btn-new" class="button" href="{% url 'order_add' %}">
            <span>New order</span>
        </a>
    {% endif %}
{% endblock %}

{% block main_body %}
    {% if order_list_unfinished %}
        {% if level == 2 or level == 3 %}
            <h3>Unfinished orders</h3>
            <p class="err-msg">Finish or delete these orders!</p>
            <table>
                <th id="main-th" class="inner-th">Order</th>
                <th class="inner-th">Created on</th>
                <th class="inner-th">Created by</th>
                <th class="inner-th">Distributor</th>
                {% for order in order_list_unfinished %}
                    <tr>
                        {% include 'includes/order_list_unfinished_item.html' with id=order.id created=order.created employee_name=order.employee.name employee_id=order.employee.id distributor_name=order.distributor.name distributor_id=order.distributor.id level=level %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}

    {% if level == 2 or level == 3 %}
        <form method="post" action="">
            {%  csrf_token %}
            <ul>
                {% for field in order_form %}
                    <li><span>{{ field.label }}: </span><span>{{ field }}</span></li>
                {% endfor %}
            </ul>
            <input type="submit" value="Search">
        </form>
        <form class="form-search" method="POST" action="">
            {%  csrf_token %}
            <button name="action" value="show_all">Show all</button>
        </form>
    {% endif %}

    {% if order_list_not_handled %}
        <h3>Pending orders</h3>
        <table>
            <th id="main-th" class="inner-th">Order</th>
            <th class="inner-th">Created on</th>
            {% if level == 2 or level == 3 %}
                <th class="inner-th">Created by</th>
            {% endif %}
            <th class="inner-th">Distributor</th>
            {% for order in order_list_not_handled %}
                <tr>
                    {% include 'includes/order_list_item.html' with id=order.id created=order.created employee_name=order.employee.name employee_id=order.employee.id distributor_name=order.distributor.name distributor_id=order.distributor.id level=level %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if order_list_handled %}
        <h3>Delivered orders</h3>
        <table>
            <th id="main-th" class="inner-th">Order</th>
            <th class="inner-th">Created on</th>
            {% if level == 2 or level == 3 %}
                <th class="inner-th">Created by</th>
            {% endif %}
            <th class="inner-th">Distributor</th>
            {% for order in order_list_handled %}
                <tr>
                    {% include 'includes/order_list_item.html' with id=order.id created=order.created employee_name=order.employee.name employee_id=order.employee.id distributor_name=order.distributor.name distributor_id=order.distributor.id level=level %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}