{%  extends 'base/index.html' %}
{% load static %}

{% block title %}Edit user{% endblock %}

{% block css_src %}
    {% if user.is_authenticated %}
        {% if level == 2 or level == 3 %}
            <link rel="stylesheet" href="{% static 'base/styles/employee.css' %}">
        {% elif level == 1 %}
            <link rel="stylesheet" href="{% static 'base/styles/distributor.css' %}">
        {% endif %}
    {% endif %}
{% endblock %}

{% block navigation %}
    {% include 'includes/navbar_wrapper.html' with selected='users' level=level %}
{% endblock %}

{% block content_header %}Edit user{% endblock %}

{% block btn_new %}
    {% if level == 2 or level == 3 %}
        <form class="form-no-border" method="POST" action="">
            {%  csrf_token %}
            <button name="action" value="delete">Delete</button>
        </form>
    {% endif %}
{% endblock %}

{% block main_body %}
    <form method="POST" action="">
        {%  csrf_token %}
        <ul>
            {% for field in user_form %}
                <li><span>{{ field.label }}: </span><span>{{ field }}</span></li>
            {% endfor %}
        </ul>
        <input type="submit" value="OK">
    </form>
    {% for error in user_form.errors.values %}
        <li><span class="err-msg">{{ error }}</span></li>
    {% endfor %}
    {% for message in messages %}
        <p class="err-msg">{{ message }}</p>
    {% endfor %}
    <a id="back-to-list" class="button" href="{% url 'user_detail' user_detail.id %}">
        <span>Back to user detail</span>
    </a>
{% endblock %}